/* Gerenciar Page Styles */

.lista-contas-main {
    background-color: var(--dark-color);
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-contas-main img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.contas {
    max-height: 400px;
    overflow-y: auto;
}

.form-control {
    background-color: var(--dark-color) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    border-radius: 8px !important;
}

.form-control:focus {
    border-color: var(--contrast-color) !important;
    box-shadow: 0 0 0 0.15rem rgba(105, 210, 205, 0.25) !important;
}

.form-select {
    background-color: var(--dark-color) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    border-radius: 8px !important;
}

.form-select:focus {
    border-color: var(--contrast-color) !important;
    box-shadow: 0 0 0 0.15rem rgba(105, 210, 205, 0.25) !important;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}
